.App {
  background-color: var(--primary-color);
  height: 100vh;
  width: 100%;
  color: var(--secondary-color);
}
.debug-button{
  position: absolute;
  top: 0;
  left: 45%;
  right: 45%;
  z-index: 1;
}